In [1]:
%load_ext lab_black
%load_ext sql

%sql postgres://localhost:3333/pfocr

'Connected: @pfocr'

In [2]:
a = 1
print(a)

1

In [3]:
# Python program to demonstrate
# basic array characteristics
import numpy as np

# Creating array object
arr = np.array([[1, 2, 3], [4, 2, 5]])
print(arr)

[[1 2 3]
 [4 2 5]]

In [4]:
%%sql
SELECT id FROM xrefs LIMIT 2;

 * postgres://localhost:3333/pfocr
2 rows affected.

[(1,), (2,)]

In [5]:
%%sql postgres://localhost:3333/pfocr
SELECT id FROM xrefs LIMIT 2;

2 rows affected.

[(1,), (2,)]